
<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel='stylesheet' type="text/css" href="assets/styles/salesforce-lightning-design-system.min.css" />
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
      integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
      crossorigin="anonymous"
    ></script>
    <title>OutPut Page </title>
    <style>header {
      background-color: rgb(45, 27, 201);
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color:goldenrod;
    }
  </style>
  <header>
    <h2>RETRIEVE JSON DATA</h2>
  </header> <br><br> 
  <div class="slds-box" "demo-only">
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="text-input-id-46">Client ID</label>
      <div class="slds-form-element__control">
      <input type="text" id="text-input-id-46" placeholder="Placeholder text…"  class="slds-input slds-box_x-small" />
      </div>
      </div>
    &emsp;&emsp;
    <div class="slds-align_absolute-center" "slds-form-element">
      <label class="slds-form-element__label" for="text-input-id-54">
      <abbr class="slds-required" title="required"> </abbr>CLIENT SECRET</label>
      <div class="slds-form-element__control"><br>
      <input type="text" id="clientSecret" placeholder="Client Secret"  class="slds-box slds-box_x-small" />
      </div>

      </div>
      <button class="slds-button slds-button_neutral" "slds-align_absolute-center" onclick="getOAuthAccessToken()">CONNECT</button>
      <span class="slds-assistive-text" id="checkcon"></span>
        <span class="slds-assistive-text" id="checkncon"></span>
      </div>
<br>
  <!-- <label for="cid">Client ID</label>
  <input type="text" id="clientId" name="Client ID" >
&emsp;&emsp;
  <label for="csec">Client Secret</label>
  <input type="text" id="clientSecret" name="Client Secret" >
  &emsp;&emsp;
  <label for="mid">Member ID</label>
  <input type="text" id="memberId" name="Member ID" > -->

  <!-- <button type="button" id="input" style="background-color:rgb(45, 27, 201);color:goldenrod" onclick="getOAuthAccessToken()">
  CONNECT
 </button>&emsp;
 
   <span style="color:green" id="checkcon"></span>
  <span style="color:red" id="checkncon"></span>
 
<br><br> -->

      <button type="button" id="input" style="background-color:rgb(45, 27, 201);margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;color:goldenrod" onclick="getJourneyById()">
        GET JOURNEY
     </button> <br><br>
     <select id="sel" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%" >
      <option style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  value="" >-- Select --</option>
    </select>
    <br/>
    <button  type="button" style="background-color:rgb(45, 27, 201);margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;color:goldenrod" onClick="GetSelectedItem('sel')">Get journey json</button>
    <br><br>
    <!-- <select id="act_list" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%" >
      <option style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  value="" >-- Select --</option>
    </select>
    <br><br>
    <button  type="button" style="background-color:rgb(45, 27, 201);margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;color:goldenrod" onClick="getActivityNames('act_list')">Get activities json</button>
    <br><br> -->
   <textarea id="demo" cols="100" rows="20" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;overflow:scroll" size="10000"name="json data"></textarea>       
 
    <br><br>
    
</head>

<body>
  <input type="hidden" id="rt" />
  <input type="hidden" id="mid" />
  <input type="hidden" id="oat" />
  <input type="hidden" id="siu" />
  <input type="hidden" id="riu" />
   <script>
    let apptoken="";
    let journeyName= new Array();
    let activitynames = new Array();
    let Journeyid;
  
   //const queryString = window.location.search;
    //const urlParams = new URLSearchParams(queryString);
    //const authorization_code = urlParams.get('code');
    //console.log("authorization_code",authorization_code);
    // const tssd = urlParams.get('tssd');
    //const tssd ="mcj6cy1x9m-t5h5tz0bfsyqj38ky";
    //if(authorization_code!= null)
    //{
      //getOAuthAccessToken()
    //}
      function getOAuthAccessToken(req,res) {
        
        var cid = document.getElementById("clientId").value;
        console.log("Client Id:",cid);
        var csec = document.getElementById("clientSecret").value;
        console.log("Client secret:",csec);
        
        axios({
          method: "POST",
          url: "/appdemoauthtoken",
          data: {
            clientId : cid,
            clientSecret : csec,
          },
        })
          .then(function (response) {
            console.log(
              "accesstokengeneration:" +
                JSON.stringify(response.data))
                console.log("oauthToken:",response.data.oauthAccessToken);
                console.log("SoAP:",response.data.soap_instance_url)
                if(response.data)
                {
                  $('#oat').val(response.data.oauthAccessToken);
                  $('#siu').val(response.data.soap_instance_url);
                  $('#riu').val(response.data.rest_instance_url)
                }
                document.getElementById("checkcon").innerHTML="CONNECTED"
                /* AppUserInfo(    
           apptoken={
               refreshToken : response.data.refreshToken,
               oauthToken : response.data.oauthToken

             })*/
                      
          })
          .catch(function (error) {
            console.log(error);
            document.getElementById("checkncon").innerHTML=" NOT CONNECTED"
          });
      }

      

      function getJourneyById()
      {
        let oauthToken =  $('#oat').val();
        let soap_instance_url =  $('#siu').val();
        let rest_instance_url = $('#riu').val();
        var mid = document.getElementById("memberId").value;
        console.log("Member Id:",mid);
        console.log("OAuthToken:",oauthToken," ","RestURL:",rest_instance_url)
        axios(
          {
            method:"POST",
            url: "/getJourneysById",
            data: {
              oauthToken:oauthToken,
              memberid:mid,
              soap_instance_url:soap_instance_url, 
              rest_instance_url :rest_instance_url
            }
          })

        .then(function(response)
        {
          console.log("Journey Response:",JSON.stringify(response));
         console.log("JSON Data-Activity:",response.data.activity)
         for (var j = 0; j< response.data.activity.items.length; j++) {
          journeyName.push(response.data.activity.items[j])
          console.log("response.data.activity.items[j]>>>>",response.data.activity.items[j])
         }
      
         var ele = document.getElementById('sel');
         for (var i = 0; i < response.data.activity.items.length; i++) {  
            ele.innerHTML = ele.innerHTML +'<option id="'+i+'" value="' + response.data.activity.items[i]['name'] + '">' + response.data.activity.items[i]['name'] + '</option>';
          
      }
        })
        
        .catch(function(error)
        {
          document.getElementById("demo").innerText = "Invalid Journey Name or Error in getting JSON Data"
          console.log(error);
        })
    }
    
      function GetSelectedItem(el)
      {
        
          var e = document.getElementById(el);
          console.log("Journey Name>>>",journeyName);
          var strSel = "The Value is: " + e.options[e.selectedIndex].value + " and text is: " + e.options[e.selectedIndex].text;
          console.log("e.options[e.selectedIndex].value",e.options[e.selectedIndex].id);
          for (var x= 0; x < journeyName.length; x++) {  
            if(e.options[e.selectedIndex].id ==x)
            {  
             document.getElementById("demo").innerText= JSON.stringify(journeyName[x]);
              Journeyid = journeyName[x].id; 
            }
          // ActivityId()
          }
          
          
      //document.getElementById("demo1").innerText=e.options[e.selectedIndex].value;
        }
      function ActivityId()
      {
        let refreshToken =  $('#rt').val();
        let oauthToken =  $('#oat').val();
        let memberid =  $('#mid').val();
        let soap_instance_url =  $('#siu').val();
        console.log("RefreshToken",refreshToken);
        console.log("Journeyid>>>>",Journeyid)
        
        let id = Journeyid
    
        axios(
          {
            method:"POST",
            url: "/getactivityById",
            data: {
              refreshToken:refreshToken,
              oauthToken:oauthToken,
              memberid:memberid,
              soap_instance_url:soap_instance_url,
              journeyId:id
            }
          })

        .then(function(response)
        {
          console.log("response>>>",response)
         // document.getElementById("demo").innerText= JSON.stringify(response.data.activity.activities);

          
         for (var i = 0; i < response.data.activity.activities.length; i++) {  
              // POPULATE SELECT ELEMENT WITH JSON
            activitynames.push(response.data.activity.activities[i])
            ele.innerHTML = ele.innerHTML +'<option id="'+i+'" value="' + response.data.activity.activities[i]['name'] + '">' + response.data.activity.activities[i]['name'] + '</option>';
            
          }
          var ele = document.getElementById('act_list');
          for (var i = 0; i < response.data.activity.activities.length; i++) {  
              // POPULATE SELECT ELEMENT WITH JSON.
           
            ele.innerHTML = ele.innerHTML +'<option id="'+i+'" value="' + response.data.activity.activities[i]['name'] + '">' + response.data.activity.activities[i]['name'] + '</option>';
          

        //   if(inputName==response.data.activity.items[i].name){
          
         // break;   
        //}
      }
          console.log("ACTIVITY NAMES:",activitynames)
        })
        
        .catch(function(error)
        {
          document.getElementById("demo").innerText = "Invalid Journey Name or Error in getting JSON Data"
          console.log(error);
        })
        
      }


      function getActivityNames(el)
      {
        
          var e = document.getElementById(el);
          console.log("Activities JSON>>>",activitynames);
          
          console.log("e.options[e.selectedIndex].value",e.options[e.selectedIndex].name);
          var getValue= document.getElementById('act_list').selectedOptions[0].value;
          console.log("Get Selected value:",getValue)

          for (var x= 0; x < activitynames.length; x++) {  
            if(getValue == activitynames)
            {
             document.getElementById("demo").innerText= JSON.stringify(activitynames[x]);
             
            }
           
          }

          
      //document.getElementById("demo1").innerText=e.options[e.selectedIndex].value;
        }

      
  </script>
</body>
</html>
   
