
<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
      integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
      crossorigin="anonymous"
    ></script>
    <title>OutPut Page </title>
    <style>header {
      background-color: rgb(45, 27, 201);
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color:goldenrod;
    }
  </style>
  <header>
    <h2>RETRIEVE JSON DATA</h2>
  </header> <br><br> 

      <button type="button" id="input" style="background-color:rgb(45, 27, 201);margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;color:goldenrod" onclick="getJourneyById()">
        GET JOURNEY
     </button> <br><br>
     <select id="sel" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%" >
      <option style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  value="" >-- Select --</option>
    </select>
    <br/>
    <button  type="button" style="background-color:rgb(45, 27, 201);margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;color:goldenrod" onClick="GetSelectedItem('sel')">Get journey json</button>
    <br><br>
    <select id="act_list" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%" >
      <option style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  value="" >-- Select --</option>
    </select>
    <br><br>
    <button  type="button" style="background-color:rgb(45, 27, 201);margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;color:goldenrod" onClick="getActivityNames('act_list')">Get activities json</button>
    <br><br>
   <textarea id="demo" cols="100" rows="20" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;overflow:scroll" size="10000"name="json data"></textarea>       
 
    <br><br>
    
</head>

<body>
  <input type="hidden" id="rt" />
  <input type="hidden" id="mid" />
  <input type="hidden" id="oat" />
  <input type="hidden" id="siu" />
  <script>
    let apptoken="";
    let journeyName= new Array();
    let activitynames = new Array();
    let Journeyid
   const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const authorization_code = urlParams.get('code');
    console.log("authorization_code",authorization_code);
    // const tssd = urlParams.get('tssd');
    const tssd ="mcj6cy1x9m-t5h5tz0bfsyqj38ky";
    if(authorization_code!= null)
    {
      getOAuthAccessToken()
    }
      function getOAuthAccessToken(req,res) {
        
        axios({
          method: "POST",
          url: "/appdemoauthtoken",
          data: {
            authorization_code:authorization_code,
            tssd: tssd
          },
        })
          .then(function (response) {
            console.log(
              "accesstokengeneration:" +
                JSON.stringify(response.data))
                AppUserInfo(    
           apptoken={
               refreshToken : response.data.refreshToken,
               oauthToken : response.data.oauthToken

             })
                      
          })
          .catch(function (error) {
            console.log(error);
          });
      }

      function AppUserInfo( apptoken ) {
       console.log("Response from accessToken", apptoken.oauthToken);
        axios({
          method: "POST",
          url: "/appuserinfo",
          data: 
          { 
             refreshToken: apptoken.refreshToken,
             oauthToken : apptoken.oauthToken,
             tssd:tssd },

        })
          .then(function (response) {
            console.log("response>>>>",response);
            if(response.data){
            $('#rt').val(response.data.refreshToken);
            $('#mid').val(response.data.member_id);
            $('#oat').val(response.data.oauthToken);
            $('#siu').val(response.data.soap_instance_url); 
            }           
              /*getJourneyById(
                  param=
                  {
                    memberid : response.data.member_id,
                    refreshToken:response.data.refreshToken,
                    oauthToken : response.data.oauthToken,
                    soap_instance_url : response.data.soap_instance_url
                  }
                  )*/
                 
          })
        }

      function getJourneyById()
      {
        let refreshToken =  $('#rt').val();
        let oauthToken =  $('#oat').val();
        let memberid =  $('#mid').val();
        let soap_instance_url =  $('#siu').val();
        console.log("RefreshToken",refreshToken);
        
        
        
        
        //let JourneyId = 'b8d3952d-6586-4a96-8ae5-01a5c218e090';
        axios(
          {
            method:"POST",
            url: "/getJourneysById",
            data: {
              refreshToken:refreshToken,
              oauthToken:oauthToken,
              memberid:memberid,
              soap_instance_url:soap_instance_url,
              // journeyId:JourneyId
            }
          })

        .then(function(response)
        {
          console.log("Journey Response:",JSON.stringify(response));
         console.log("JSON Data-Activity:",response.data.activity)
         for (var j = 0; j< response.data.activity.items.length; j++) {
          journeyName.push(response.data.activity.items[j])
          console.log("response.data.activity.items[j]>>>>",response.data.activity.items[j])
         }
      
         var ele = document.getElementById('sel');
         for (var i = 0; i < response.data.activity.items.length; i++) {  
              // POPULATE SELECT ELEMENT WITH JSON.
           
            ele.innerHTML = ele.innerHTML +'<option id="'+i+'" value="' + response.data.activity.items[i]['name'] + '">' + response.data.activity.items[i]['name'] + '</option>';
          

        //   if(inputName==response.data.activity.items[i].name){
          
         // break;   
        //}
      }
        
        
       // else 
        //document.getElementById("demo").innerText="Invalid Journey Name or Error in getting JSON Data"

      //}
        })
        
        .catch(function(error)
        {
          document.getElementById("demo").innerText = "Invalid Journey Name or Error in getting JSON Data"
          console.log(error);
        })
    }
    
      function GetSelectedItem(el)
      {
        
          var e = document.getElementById(el);
          console.log("Journey Name>>>",journeyName);
          var strSel = "The Value is: " + e.options[e.selectedIndex].value + " and text is: " + e.options[e.selectedIndex].text;
          console.log("e.options[e.selectedIndex].value",e.options[e.selectedIndex].id);
          for (var x= 0; x < journeyName.length; x++) {  
            if(e.options[e.selectedIndex].id ==x)
            {
              
             document.getElementById("demo").innerText= JSON.stringify(journeyName[x]);
              Journeyid = journeyName[x].id;
              
            }
           ActivityId()
          }
          
          
      //document.getElementById("demo1").innerText=e.options[e.selectedIndex].value;
        }
      function ActivityId()
      {
        let refreshToken =  $('#rt').val();
        let oauthToken =  $('#oat').val();
        let memberid =  $('#mid').val();
        let soap_instance_url =  $('#siu').val();
        console.log("RefreshToken",refreshToken);
        console.log("Journeyid>>>>",Journeyid)
        
        let id = Journeyid
    
        axios(
          {
            method:"POST",
            url: "/getactivityById",
            data: {
              refreshToken:refreshToken,
              oauthToken:oauthToken,
              memberid:memberid,
              soap_instance_url:soap_instance_url,
              journeyId:id
            }
          })

        .then(function(response)
        {
          console.log("response>>>",response)
         // document.getElementById("demo").innerText= JSON.stringify(response.data.activity.activities);

          var ele = document.getElementById('act_list');
         for (var i = 0; i < response.data.activity.activities.length; i++) {  
              // POPULATE SELECT ELEMENT WITH JSON
            //activitynames.push(response.data.activity.activities[i].name)
            ele.innerHTML = ele.innerHTML +'<option id="'+i+'" value="' + response.data.activity.activities[i]['name'] + '">' + response.data.activity.activities[i]['name'] + '</option>';
            break
          }
        })
        
        .catch(function(error)
        {
          document.getElementById("demo").innerText = "Invalid Journey Name or Error in getting JSON Data"
          console.log(error);
        })
        
      }


      function getActivityNames(el)
      {
        
          var e = document.getElementById(el);
          console.log("Activities JSON>>>",activitynames);
          
          console.log("e.options[e.selectedIndex].value",e.options[e.selectedIndex].name);
          var getValue= document.getElementById('act_list').selectedOptions[0].value;
          console.log("Get Selected value:",getValue)

          for (var x= 0; x < activitynames.length; x++) {  
            if(getValue == activitynames)
            {
             document.getElementById("demo").innerText= JSON.stringify(activitynames[x]);
             
            }
           
          }

          
      //document.getElementById("demo1").innerText=e.options[e.selectedIndex].value;
        }

      
  </script>
</body>
</html>
   
