
<!DOCTYPE html>
<html>
<head>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
      integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
      crossorigin="anonymous"
    ></script>
    <title>OutPut Page </title>
    <!-- <script src="/src/SfmcApiHelper.ts"></script> -->
    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
    onclick="getOAuthAccessToken()">GET ACCESS TOKEN</button>
    <!-- <p id="demo" style="color:green;"></p>
    <p id="demo1" style="color:red;"></p>
    <body>
      <h3>Enter Dataextension Name</h3>
      <input type="text" id="txt"/>
      <input type="submit" id="btSubmit"  onclick="creatingDomainConfigurationDE()" disabled />
      <p id="demo2" style="color:green;"></p>
      <p id="demo4" style="color:rgb(13, 0, 128);"></p>
    <p id="demo3" style="color:red;"></p>
  </body> -->
    <br><br>
    
</head>
<body>
  <script>
   const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const authorization_code = urlParams.get('code');
    console.log("authorization_code",authorization_code);
    // const tssd = urlParams.get('tssd');
    const tssd ="mcj6cy1x9m-t5h5tz0bfsyqj38ky";

    console.log("tssd=",tssd);
      function getOAuthAccessToken(req,res) {
        
        axios({
          method: "POST",
          url: "/appdemoauthtoken",
          data: {
            authorization_code:authorization_code,
            tssd: tssd
          },
        })
          .then(function (response) {
            console.log(
              "accesstokengeneration:" +
                JSON.stringify(response.data))
                let apptoken = response.data.refreshToken;
             AppUserInfo( apptoken)  
                      
          })
          .catch(function (error) {
            console.log(error);
          });
      }

      function AppUserInfo( apptoken ) {
       console.log("response.data.oauthToken", apptoken);
        axios({
          method: "POST",
          url: "/appuserinfo",
          data: { refreshToken: apptoken, tssd:tssd },

        })
          .then(function (response) {
            console.log("response>>>>",response);
            var test = response.data.username;
             
              getJourneyById(
                  param=
                  {
                    memberid : response.data.member_id,
                    refreshToken:response.data.refreshToken,
                    oauthToken : response.data.oauthToken,
                    soap_instance_url : response.data.soap_instance_url
                  }

                  )
          })

      function getJourneyById(param)
      {
        console.log("Param:",JSON.stringify(param))
        let JourneyId = 'b8d3952d-6586-4a96-8ae5-01a5c218e090';
        axios(
          {
            method:"POST",
            url: "/getJourneysById",
            data: {
              refreshToken: param.refreshToken,
              oauthToken:param.oauthToken,
              journeyId:JourneyId,
              memberid: param.memberid,
              soap_instance_url : param.soap_instance_url
            }
          })

        .then(function(response)
        {
          console.log("Journey Response:",JSON.stringify(response))
        })
        .catch(function(error)
        {
          console.log(error);
        })
      }
    }


  </script>
</body>
</html>
   
