
<!DOCTYPE html>
<html>
<head>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
      integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
      crossorigin="anonymous"
    ></script>
    <title>OutPut Page </title>
    <!-- <script src="/src/SfmcApiHelper.ts"></script> -->
    <!-- <button type="button" id="btnGetOauthToken" class="btn btn-primary"
   </button> -->
    
     <input type="text" id="input_value"></input>
     

      <!-- want picklist -->
      <!-- <label for="cars">Choose one:</label> -->
      <!-- <select name="cars" id="cars">
        <option value="journey">Journey</option>
        <!-- <option value="saab">Saab</option> -->
      <!-- </select> -->
      <br><br> 


      <input type="submit" onclick="getOAuthAccessToken()" value="GET JOURNEY JSON"><br><br>
<!--    
      <textarea id="w3review" name="w3review" rows="4" cols="50">
        At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </textarea> -->
      <textarea id="demo" name="json data"></textarea>
    <!-- <div>
      <p id="demo"></p>
    </div> -->
   
    <br><br>
    
</head>
<body>
  <script>
   const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const authorization_code = urlParams.get('code');
    console.log("authorization_code",authorization_code);
    // const tssd = urlParams.get('tssd');
    const tssd ="mcj6cy1x9m-t5h5tz0bfsyqj38ky";

    console.log("tssd=",tssd);
      function getOAuthAccessToken(req,res) {
        
        axios({
          method: "POST",
          url: "/appdemoauthtoken",
          data: {
            authorization_code:authorization_code,
            tssd: tssd
          },
        })
          .then(function (response) {
            console.log(
              "accesstokengeneration:" +
                JSON.stringify(response.data))
               
             AppUserInfo( apptoken={
               refreshToken : response.data.refreshToken,
               oauthToken : response.data.oauthToken

             })  
                      
          })
          .catch(function (error) {
            console.log(error);
          });
      }

      function AppUserInfo( apptoken ) {
       console.log("Response from accessToken", apptoken.oauthToken);
        axios({
          method: "POST",
          url: "/appuserinfo",
          data: 
          { 
             refreshToken: apptoken.refreshToken,
             oauthToken : apptoken.oauthToken,
             tssd:tssd },

        })
          .then(function (response) {
            console.log("response>>>>",response);
            
            var test = response.data.username;
             
              getJourneyById(
                  param=
                  {
                    memberid : response.data.member_id,
                    refreshToken:response.data.refreshToken,
                    oauthToken : response.data.oauthToken,
                    soap_instance_url : response.data.soap_instance_url
                  }
                  )
                 
          })

      function getJourneyById(param)
      {
        var inputName= document.getElementById("input_value").value
        console.log("Given Name:",inputName);
        console.log("Param:",JSON.stringify(param))
        let JourneyId = 'b8d3952d-6586-4a96-8ae5-01a5c218e090';
        axios(
          {
            method:"POST",
            url: "/getJourneysById",
            data: {
              //inputName:inputName,
              refreshToken: param.refreshToken,
              oauthToken:param.oauthToken,
              journeyId:JourneyId,
              memberid: param.memberid,
              soap_instance_url : param.soap_instance_url
            }
          })

        .then(function(response)
        {
          console.log("Journey Response:",JSON.stringify(response));
         console.log("JSON Data-Activity:",response.data.activity)
         for (var i = 0; i < response.data.activity.items.length; i++) {
          document.getElementById("demo").innerText=JSON.stringify(response.data.activity.items[i].name);
         }
        })
        
        .catch(function(error)
        {
          document.getElementById("demo").innerText = "Invalid Journey Name or Error in getting JSON Data"
          console.log(error);
        })
      }
    }


  </script>
</body>
</html>
   
